
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'open_sansregular';
    background: url('../images/body-bg.jpg');
}

header {
	background-color: #0066CC;
	width: 100%;
	padding: 10px 0px 10px 0px;
}

.main_container {
	width: 100%;
}

.search_box {
	background-image: url("../images/search-btn.jpg");
    background-position: 99% center;
    background-repeat: no-repeat;
    border: 1px solid #0A5BAC;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.home {
	width: 21px;
	height: 19px;
	display: block;
	float: left;
	background: url('../images/icon-home.png') no-repeat;
}

.blog_icon {
	width: 22px;
	height: 23px;
	display: block;
	float: left;
	background: url('../images/icon-blog.png') no-repeat;
}

.watch_list_icon {
	width: 18px;
	height: 24px;
	display: block;
	float: left;
	background: url('../images/icon-watchlist.png') no-repeat;
}

.compare_list_icon {
	width: 25px;
	height: 23px;
	display: block;
	float: left;
	background: url('../images/icon-compare.png') no-repeat;
}

.login_icon {
	width: 16px;
	height: 20px;
	display: block;
	float: left;
	background: url('../images/icon-login.png') no-repeat;
}

.logout_icon {
	width: 16px;
	height: 20px;
	display: block;
	float: left;
	background: url('../images/icon-logout.png') no-repeat;
}

.username {
	color: #FFFFFF;
}

header a {
	margin-top: 5px;
	margin-right: 20px;
	display: block;
	float: left;
}

.home_content_text {
	font-size: 22px;
}

.home_first_row {
	border: 1px solid #E2E2E1;
	padding: 25px;
	margin-top: 40px;
	background-color: #FFFFFF;
}

.home_second_row {
	margin-top: 10px;
}

.home_second_row img, .home_second_row p {
	display: block;
	float: left;
}
.star_list {
	background: url('../images/star-bg.png') no-repeat;
	height: 288px;
}
.right {
	float: right;
	padding: 10px;
}

.pdf_download {
	display: block;
	float: left;
	background: url('../images/pdf-img.png');
	width: 90px;
	height: 90px;
	margin-top: 40px;
	margin-left: 50px;
}

.right p {
	margin-left: 35px;
	margin-top: 70px;
	display: block;
	float: left;
}

.help {
	position: absolute;
	width: 80px;
	height: 38px;
	background: url('../images/help-btn.png');
	right: 0;
	top: 55%;
}

.five_star {
	background: url('../images/5-star.png') no-repeat;
	background-position: 50%;
}
.star_list a {
	display: block;
	height: 35px;
	width: 100%;
	float: left;
	padding-top: 8px;
	color: #000000;
}
.star_list p {
	display: block;
	float: left;
}
.star_list div {
	margin: 30px 0px 0px 40px;
}
.four_star {
	background: url('../images/4-star.png') no-repeat;
	background-position: 44%;
}

.three_star {
	background: url('../images/3-star.png') no-repeat;
	background-position: 39%;
}

.two_star {
	background: url('../images/2-star.png') no-repeat;
	background-position: 35%;
	width: 46px;
	height: 21px;
	display: block;
}

.one_star {
	background: url('../images/star.png') no-repeat;
	background-position: 32%;
	width: 17px;
	height: 21px;
	display: block;
}

footer {
	height: 56px;
	width: 100%;
	background: url('../images/footer-bg.jpg');
	margin-top: 30px;
	padding-top: 20px;
}

footer a {
	display: block;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #605C5C;
}

.box_head {
	background: url('../images/head-pattern.jpg');
	width: 100%;
	margin: 0px;
	padding: 15px;
}

.content_row {
	margin: auto;
	margin-top: 30px;
	display: block;
	float: none;
}

.content_row div {
}

.content_row form {
	padding: 30px;
}

.login form label {
	font-weight: normal;
	width: 30%;
	float: left;
	padding-top: 5px;
}
.register form label {
	font-weight: normal;
	width: 100%;
	float: left;
	padding-top: 5px;
}
.login form input {
	border: 1px solid #DDDDDD;
	padding: 5px;
	width: 70%;
	float: left;
}
.register form input {
	border: 1px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	float: left;
}
.login, .register {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	padding: 0px;
}

.login .control {
	height: 50px;
}

.register .control {
	height: 70px;
}
.register .control_last {
	height: 20px;
}
.signin_button {
	padding: 5px;
	background-color: #FB9F5C;
	border: none;
	border-radius: 3px;
	margin: auto;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
}
.f_connect {
	margin: auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 107px;
	border: none;
	height: 25px;
	background: url('../images/fbconnect_button.png') no-repeat;
}

.box_head p {
	margin-bottom: 0px;
}

.signup_button {
	padding: 5px;
	background-color: #AADD7E;
	border: none;
	border-radius: 3px;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
}

.error_msg {
	color: red;
}

#recaptcha_area .recaptchatable {
	border: none !important;
}

#recaptcha_table #recaptcha_image {
	border: none !important;
}

#recaptcha_logo {
	display: none;
}

#recaptcha_div {
	height: 110px;
}

#recaptcha_privacy {
	display: none;
}