

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}

#dialogue_popup_container {
	display: none;
}
#ovelay {
	display: none;
}
.container {
	width: 100%;
	padding: 0px !important;
	height: 100%;
}
.clear {
	clear: both;
}
footer p{
	text-align: center;
}
.content {
	float: right;
	width: 83%;
}
.error_msg {
	color: #FF0000;
	font-weight: bold;
}
/************** Login page  and create user styles**************/
.login, .create_user {
	width: 20%;
	float: right;
	margin: 10% 10% 0 0;
}
.create_user {
	float: left;
    margin-left: 5%;
    margin-top: 3%;
    width: 35%;
}

.login h3, .create_user h3, .user_list h3 {
	color: #1ABC9C;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #1ABC9C;
}

.login form, .create_user .field_set {
	display: block;
	width: 95%;
	float: right;
}
.login label, .create_user label {
	width: 39%;
	height: 30px;
}
.login input, .create_user input {
	width: 58%;
	height: 30px;
}
.login input[type="submit"], .create_user input[type="submit"] {
	border: none;
	background-color: #1ABC9C;
	width: 20%;
	float: right;
	padding: 2px;
	border: 1px solid #D6D4D2;
}
.create_user input[type="checkbox"] {
	margin-right: 20px;
}
/************ Login page style send ***************/

/************ Header Style **************/

header {
	width: 100%;
	height: 75px;
	float: left;
	background-color: #1ABC9C;
	padding: 10px;
}

.page_header {
	color: #FFFFFF;
}

.page_header {
	width: 100%;
	float: left;
	height: 75px;
}
.dropdown {
	display: block;
	float: right;
	margin-top: 15px;
	padding: 10px;
	background-color: #1ABC9C;

}

.dropdown_anchor {
	display: block;
	width: auto;
	height: 30px;
	color: #FFFFFF;
	font-weight: bold;
}
.dropdown_anchor:hover {
	text-decoration: none;
	color: #FFFFFF;
}

#dropdown_menu {
	padding: 0px;
	list-style: none;
}
#dropdown_menu li a, #dropdown_menu li a:hover{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}


/************ Header style end ******************/

/************* Dashboard style *****************/



/************ Dashboard style end ************/

/********** Menu style **************/

.menu_container {
	background-color: #1ABC9C;
    float: left;
    height: 100%;
    position: fixed;
    width: 17%;
}
.menu_container ul {
	display: block;
    float: left;
    list-style: none outside none;
    padding: 5px;
    width: 100%;
	
}
.menu_container ul li {
	height: 40px;
	padding: 5px;
	display: block;	
	border-bottom: 1px ridge #FFFFFF;
}

.menu_container ul li a {
	color: #FFFFFF;
	text-decoration: none;
	width: 95%;
	display: block;
	float: left;
}
.menu_container ul li span {
	color: #FFFFFF;
	display: none;
	float: left;
}
.menu_container ul li:hover span {
	color: #FFFFFF;
	display: block;
	float: left;
	font-weight: bold;
}
.no-border {
	border: none !important;
}
/*************** Menu style end ************/



/******************* Administration Style ***************/

#administration .administration {
	display: block !important;
}

.user_list {
	width: 75%;
	float: left;
	margin-left: 5%;
    margin-top: 3%;
}
.user_list table tbody td, .user_list table tbody th{
	border-top: none !important;
	border-bottom: 1px solid #DDDDDD;
}

/******************* End Administration Style ***************/