

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
}

#dialogue_popup_container {
	display: none;
}
#ovelay {
	display: none;
}
.container {
	width: 100%;
	padding: 0px !important;
	height: 100%;
}
.clear {
	clear: both;
}
footer p{
	text-align: center;
}
.content {
	float: right;
	width: 83%;
}
.error_msg {
	color: #FF0000;
	font-weight: bold;
}
/************** Login page  and create user styles**************/
.login, .create_user {
	width: 20%;
	float: right;
	margin: 10% 10% 0 0;
}
.create_user {
	float: left;
    margin-left: 5%;
    margin-top: 3%;
    width: 35%;
}

.sub_heading {
	color: #12569A;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #12569A;
}

.login form, .create_user .field_set {
	display: block;
	width: 95%;
	float: right;
}
.function_set {
	display: block;
	width: 150%;
	float: left;
}
.login label, .create_user label {
	width: 39%;
	height: 30px;
}
.login input, .create_user input {
	width: 58%;
	height: 30px;
}
.login input[type="submit"], .create_user input[type="submit"] {
	border: none;
	background-color: #12569A;
	width: 20%;
	float: right;
	padding: 2px;
	border: 1px solid #D6D4D2;
}
.create_user input[type="checkbox"] {
	margin-right: 20px;
	width: 4%;
}
/************ Login page style send ***************/

/************ Header Style **************/

header {
	width: 100%;
	height: 75px;
	float: left;
	background-color: #12569A;
	padding: 10px;
}

.page_header {
	color: #FFFFFF;
}

.page_header {
	width: 100%;
	float: left;
	height: 75px;
}
.dropdown {
	display: block;
	float: right;
	margin-top: 15px;
	padding: 10px;
	background-color: #12569A;

}

.dropdown_anchor {
	display: block;
	width: auto;
	height: 30px;
	color: #FFFFFF;
	font-weight: bold;
}
.dropdown_anchor:hover {
	text-decoration: none;
	color: #FFFFFF;
}

#dropdown_menu {
	padding: 0px;
	list-style: none;
}
#dropdown_menu li a, #dropdown_menu li a:hover{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}


/************ Header style end ******************/

/************* Dashboard style *****************/



/************ Dashboard style end ************/

/********** Menu style **************/

.menu_container {
	background-color: #12569A;
    float: left;
    height: 100%;
    position: fixed;
    width: 17%;
}
.menu_container ul {
	display: block;
    float: left;
    list-style: none outside none;
    padding: 5px;
    width: 100%;
	
}
.menu_container ul li {
	height: 40px;
	padding: 5px;
	display: block;	
	border-bottom: 1px ridge #FFFFFF;
}

.menu_container ul li a {
	color: #FFFFFF;
	text-decoration: none;
	width: 95%;
	display: block;
	float: left;
}
.menu_container ul li span {
	color: #FFFFFF;
	display: none;
	float: left;
}
.menu_container ul li:hover span {
	color: #FFFFFF;
	display: block;
	float: left;
	font-weight: bold;
}
.no-border {
	border: none !important;
}
/*************** Menu style end ************/


/******************* Table Display Style ***************/

.tab_list {
	width: 90%;
	float: left;
	margin-left: 5%;
    margin-top: 3%;
}
.tab_list table tbody td, .tab_list table tbody th{
	border-top: none !important;
	border-bottom: 1px solid #DDDDDD;
}

/******************* End Table Display Style ***************/

/******************* Administration Style ***************/

#administration .administration {
	display: block !important;
}

.user_list {
	width: 90%;
	float: left;
	margin-left: 5%;
    margin-top: 3%;
}
.user_list table tbody td, .user_list table tbody th{
	border-top: none !important;
	border-bottom: 1px solid #DDDDDD;
}

/******************* End Administration Style ***************/


/******************* Function_Settings Style ***************/

.function_settings {
	float: left;	
	width: 100%;
}

.function_heading {
	color: #12569A;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #12569A;
	margin-left: 5%;
	margin-right: 3%;
	margin-top: 3%;
}

.function_row {
	min-height: 40px;
    width: 40%;
    float: left;
    margin-top: 1%;
    margin-bottom: -1.5%;
    margin-left: 3%;
}

.function_text {
	float: left;
    width: 150px;
    margin-left: 5%;

}

.function_input {
	float: left;
}

.function_set {
	float: left;
    margin-left: 5%;
    margin-top: 3%;
    width: 35%;	
}

.function_set label {
	width: 39%;
	height: 30px;
}
.function_set input {
	width: 58%;
	height: 30px;
}

.function_set input[type="submit"] {
	border: none;
	background-color: #12569A;
	width: 20%;
	float: right;
	padding: 2px;
	border: 1px solid #D6D4D2;
}
.function_set input[type="checkbox"] {
	margin-right: 20px;
	width: 4%;
}


/******************* End Function_Settings Style ***************/

/******************* Models Style ***************/
.model_settings {
	float: left;	
	width: 100%;
}

.model_heading {
	color: #12569A;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #12569A;
	margin-top: 20%;
}
.model_set {
	display: block;
    margin-left: 5%;
    margin-top: -9%;
    margin-right: 5%;
    width: 85%;	
}

.model_set label {
	width: 20%;
	height: 30px;
}

.model_set input {
	width: 25%;
	height: 30px;
}

.model_set textarea {
	margin-bottom: 15px;
	width: 25%;
}

.model_set select {
	margin-bottom: -25px;
	width: 25%;
}


.model_menu input[type="submit"] {
	border: none;
	background-color: #12569A;
	width: 20%;
	float: left;
	padding: 5px;
	margin-top: 2%;
	margin-left: 2%;
	border: 1px solid #D6D4D2;
}

.model_set input[type="submit"] {
	border: none;
	background-color: #12569A;
	width: 10%;
	float: left;
	margin-top: 4%;
	margin-left: 3%;
	padding: 2px;
	border: 1px solid #D6D4D2;
}
.model_set input[type="button"] {
	width: 5%;	
}
.model_select input[type="button"] {
	margin-left: 21%;
	margin-right: 7%;
	margin-top: 2%;
	width: 8%;	
}
.model_row {
	margin-left: 30%;
}
/******************* End Models Style ***************/