{% extends 'base.html' %}
{% block title %} Administration {% endblock title%}
{% block body_id %}administration{% endblock %}
{% block controller %}
	ng-controller="AdministrationController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
	<div class="create_user">
		<h3 class="sub_heading"> Create User </h3>
		<div class="field_set"   ng-hide="reset_password_flag">
			<input type="hidden" ng-model="new_user.id" />
			<label> User Id: </label>
			<input type="text" name="username" ng-model="new_user.username" />
			<label> Name: </label>
			<input type="text" name="first_name" ng-model="new_user.first_name" />
			<label ng-hide="edit_flag"> Password: </label>
			<input ng-hide="edit_flag" type="password" name="password" ng-model="new_user.password" />
			<label ng-hide="edit_flag"> Confirm Password: </label>
			<input ng-hide="edit_flag" type="password" name="confirm_password" ng-model="new_user.confirm_password" />
			<label> Data Upload </label>
			<input type="checkbox" ng-model="new_user.data_upload" />
			<label> Field Settings </label>
			<input type="checkbox" ng-model="new_user.field_settings" />
			<label> Score Settings </label>
			<input type="checkbox" ng-model="new_user.score_settings" />
			<label> Function Settings </label>
			<input type="checkbox" ng-model="new_user.function_settings" />
			<label> Analytical Heads </label>
			<input type="checkbox" ng-model="new_user.analytical_heads" />
			<p class="error_msg"> [[msg]] </p>
			<input type="submit" name="submit" value="Save" ng-click="save_new_user()"/>
			<input type="submit" name="submit" value="Reset" ng-click="reset_user()"/>
		</div>
		<div class="field_set" ng-show="reset_password_flag">
			<input type="hidden" ng-model="new_user.id" />
			<label ng-hide="edit_flag"> New Password: </label>
			<input ng-hide="edit_flag" type="password" name="password" ng-model="current_user.password" />
			<label ng-hide="edit_flag"> Confirm Password: </label>
			<input ng-hide="edit_flag" type="password" name="confirm_password" ng-model="current_user.confirm_password" />
			<p class="error_msg"> [[msg]] </p>
			<input type="submit" name="submit" value="Save" ng-click="save_password()"/>
		</div>
	</div>
	<div class="tab_list" ng-show="users.length > 0">
		<h3 class="sub_heading"> Users & Permissions </h3>
		<table class="table table-stripped">
			<tr> 
				<th> # </th>
				<th> Name </th>
				<th> Username </th>
				<!-- <th> Password </th> -->
				<th> Data Upload </th>
				<th> Field Settings</th>
				<th> Score Settings</th>
				<th> Analytical Heads </th>
				<th> Function Settings</th>
				<th> Actions</th>
			</tr>
			<tr ng-repeat="user in users">
				<td> [[($index)+((current_page-1)*page_interval)+1]] </td>
				<td> [[user.first_name]] </td>
				<td> [[user.username]] </td>
				<!-- <td> [[user.password]] </td> -->
				<td> [[user.data_upload]] </td>
				<td> [[user.field_settings]] </td>
				<td> [[user.score_settings]] </td>
				<td> [[user.analytical_heads]] </td>
				<td> [[user.function_settings]] </td>
				<td> <a href="" ng-click="edit_user(user)"> Modify </a> / <a href="" ng-click="delete_user(user)"> Delete </a>/ <a href="" ng-click="reset_password(user)"> Reset Password </a> </td>
			</tr>
		</table>
		{% include 'pagination.html' %}
	</div>

{% endblock content %}