{% extends 'base.html' %}
{% block title %} Data Upload {% endblock title%}
{% block body_id %}data_upload{% endblock %}
{% block controller %}
	ng-controller="DataUploadController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
<div class="data_upload">
	<h3 class="data_upload_heading"> Data Upload </h3>
	<div class="data_upload_content">
		{% if data_file %}
			<p>
				<label> Latest Uploaded File : </label>
				<span> <a href="/site_media/{{data_file.uploaded_file.name}}">{{data_file.uploaded_file.name}} </a></span>
			</p>
			<p>
				<label> Uploaded date: </label>
				<span> {{data_file.created_date}} </span>
			</p>
			<p>
				<label> Uploaded By: </label>
				<span> {{data_file.uploaded_by}} </span>
			</p>
		{% endif %}
		<p>
			<label> Upload New File With stock data: </label>
			<input type="file" fileread="data_file.src"/>
			<input type="hidden" ng-model="data_file.src">
		</p>
		<p class='error_msg'>[[error_msg]]</p>
		<input type="submit" name="upload" value="Upload" ng-click="submit_file();"/>
	</div>
	<div class="tab_list" ng-show="visible_list.length > 0">
		<h3 class="sub_heading"> Files Uploaded </h3>
		<table class="table table-stripped">
			<tr> 
				<th> # </th>
				<th> Name </th>
				<th> Uploaded by </th>
				<th> Uploaded Date </th>
				<th> &nbsp; </th> 

			</tr>
			<tr ng-repeat="file in visible_list">
				<td> [[($index)+((current_page-1)*page_interval)+1]] </td>
				<td> <a href="/site_media/[[file.path]]">[[file.path]]</a> </td>
				<td> [[file.uploaded_by]] </td>
				<td> [[file.uploaded_date]] </td>
				<td> 
					<a href="/progno/delete_data_file/[[file.id]]/"> Delete </a> 
				</td>
			</tr>
		</table>
	</div>
	<div class="clear"></div>
	{% include 'pagination.html' %}
</div>
{% endblock content %}