{% extends 'base.html' %}
{% block title %} Field Settings {% endblock title%}
{% block body_id %}field{% endblock %}
{% block controller %}
	ng-controller="FieldController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
	<div class="create_user">
		<h3 class="sub_heading"> Create Field </h3>
		<div class="field_set">
			<input type="hidden" ng-model="new_field.id" />
			<label> Field Name: </label>
			<input type="text" name="field_name" ng-model="new_field.field_name" />
			<label> Field Description: </label>
			<input type="text" name="field_description" ng-model="new_field.field_description" />
			<p class="error_msg"> [[msg]] </p>
			<input type="submit" name="submit" value="Save" ng-click="save_new_field()"/>
		</div>
	</div>
	<div class="tab_list">
		<h3 class="sub_heading"> Field List </h3>
		<table class="table table-stripped">
			<tr> 
				<th> Field Name </th>
				<th> Description </th>
				<th> Created/Last Modified</th>
				<th> Actions </th>
			</tr>
			<tr ng-repeat="field in fields">
				<td> [[field.name]] </td>
				<td> [[field.description]] </td>
				<td> [[field.status]] - [[field.date]]  </td>
				<td> <a href="" ng-click="edit_field(field)"> Modify </a> / <a href="" ng-click="delete_field(field)"> Delete </a>
			</tr>
		</table>
	</div>

{% endblock content %}