{% extends 'base.html' %}
{% block title %} Function Settings {% endblock title%}
{% block body_id %}function_settings{% endblock %}
{% block controller %}
	ng-controller="FunctionController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
	<div class="function_settings">
		<h3 class="function_heading"> Function Settings </h3>
		<div class="function_row">
			<div class="function_text">
				<label>Select Type</label>
			</div>
			<div class="function_input">
				<select name="function_type" ng-selected="value == select_type"  ng-model="select_type" ng-change="change_type(select_type)">
			   	<option value="1" selected="selected">General</option>
			    <option value="2">Continuity</option>
			    <option value="3">Consistency</option>
				</select>
			</div>
		</div>
		<div class="function_set" ng-show="show_general">
			<h3 class="sub_heading"> General </h3>
				<input type="hidden" ng-model="new_general.id" />
				<label> Function Name: </label>
				<input type="text" name="function_name" ng-model="new_general.function_name" />
				<label> Function Description: </label>
				<input type="text" name="function_description" ng-model="new_general.function_description" />
				<label> Analytical Head: </label>
				<select name="general_select_head" ng-model="new_general.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_general.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<div class="clear"></div>

				<div class="formula">
					<h4> Construct Formula </h4>
					<div class="formula_row">
						<label> Select Operands: </label>
						<select ng-model="operand" ng-options="operand as operand.name for operand in operands" ng-change="select_operand(operand)">
							
						</select>
						<input type="button" value="+" ng-click="add_operand()" />

						<label> Select Operators: </label>
						<select ng-model="operator" ng-options="operator as operator.symbol for operator in operators" ng-change="select_operator(operator)">
						</select> <input type="button" value="+" ng-click="add_operator()" />
						<label> Add Digits: </label>
						<input type="text" ng-model="digits" />
						<input type="button" value="+" ng-click="add_digits()" />
					</div>
					
					<label> Formula: </label>
					<input type="text" name="function_formula" ng-model="formula" readOnly ng-change="check_formula()" />
					<input type="button" value="Clear" ng-click="clear()" />
					<div class="clear"></div>
					<p class="error_msg"> [[error_msg]] </p>

				</div>
				
				<p class="error_msg clear" > [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_general()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_general()"/>
		</div>		
		<div class="function_set" ng-show="show_continuity">
			<h3 class="sub_heading"> Continuity </h3>
				<input type="hidden" ng-model="new_continuity.id" />
				<label> Function Name: </label>
				<input type="text" name="field_name" ng-model="new_continuity.function_name" />
				<label> Function Description: </label>
				<input type="text" name="field_description" ng-model="new_continuity.function_description" />
				<label> No of Fields: </label>
				<input type="text" name="field_description" ng-model="new_continuity.no_of_fields" ng-change="add_fields_in_continuity()"/>
				<label> No of functions: </label>
				<input type="text" name="field_description" ng-model="new_continuity.no_of_functions" ng-change="add_functions_in_continuity()"/>
				
				<div ng-repeat="fld in new_continuity.fields">
					<p>
						<label> Field [[ $index+1 ]] : </label>				
						<select name="continuity_period" ng-model="fld.field">
						<option value="" disabled="True">Select</option>
						<option value="[[ field.id ]]" ng-selected="field.id == fld.field" ng-repeat="field in fields">[[ field.name ]]</option>		
						</select>
					</p>
				</div>
				<div ng-repeat="function in new_continuity.functions">
					<p>
						<label> Function [[ $index+1 ]] : </label>
						<select ng-model="function.function" ng-options="function.id as function.name for function in functions" ng-change="">							
						</select>
					</p>
				</div>
				<label> Analytical Head: </label>
		        <select name="continuity_select_head" ng-model="new_continuity.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_continuity.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<p class="error_msg clear"> [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_continuity()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_continuity()"/>
		</div>
		<div class="function_set" ng-show="show_consistency">
			<h3 class="sub_heading"> Consistency </h3>
				<input type="hidden" ng-model="new_consistency.id" />
				<label> Function Name: </label>
				<input type="text" name="function_name" ng-model="new_consistency.function_name" />
				<label> Function Description: </label>
				<input type="text" name="function_description" ng-model="new_consistency.function_description" />
				<label> No of Fields: </label>
				<input type="text" name="no_of_periods" ng-model="new_consistency.no_of_fields" ng-change="add_fields_in_consistency()"/>
				<label> No of Functions </label>
				<input type="text" name="no_of_periods" ng-model="new_consistency.no_of_functions" ng-change="add_functions_in_consistency()"/>
				<div ng-repeat="fld in new_consistency.fields">				
					<p>
						<label> Field [[ $index+1 ]] : </label>				
						<select name="consistency_period" ng-model="fld.field">
						<option value="" disabled="True">Select</option>
						<option value="[[ field.id ]]" ng-selected="field.id == fld.field" ng-repeat="field in fields">[[ field.name ]]</option>	
						</select>
					</p>
				</div>	
				<div ng-repeat="function in new_consistency.functions">
					<p>
						<label> Function [[ $index+1 ]] : </label>	
						<select ng-model="function.function" ng-options="function.id as function.name for function in functions" ng-change="">		
						</select>
					</p>
				</div>			
				<label> Analytical Head: </label>
				<select name="consistency_select_head" ng-model="new_consistency.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_consistency.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<p class="error_msg clear"> [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_consistency()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_consistency()"/>
		</div>
		<div class="tab_list">
		<h3 class="sub_heading"> Functions List </h3>
		<table class="table table-stripped">
			<tr> 
				<th> # </th>
				<th> Function Name </th>
				<th> Objective </th>
				<!-- <th> Category</th> -->
				<th> Created </th>
				<th> Modified </th>
				<th> Action </th>
			</tr>
			<tr ng-repeat="function in visible_list">
				<td> [[($index)+((current_page-1)*page_interval)+1]] </td>
				<td>[[ function.name ]]</td>
				<td>[[ function.head ]]</td>
				<!-- <td>[[ function.category ]]</td> -->
				<td>[[ function.created_date ]]</td>
				<td>[[ function.modified_date ]]</td>
				<td> 
					<a href="" ng-click="edit_function(function)"> Modify </a> / 
					<a href="/progno/delete_function/[[function.id]]/"> Delete </a>
				</td>
			</tr>
		</table>
		</div>
		{% include 'pagination.html' %}
	</div>
{% endblock content %}

