{% extends 'base.html' %}
{% block title %} Function Settings {% endblock title%}
{% block body_id %}function_settings{% endblock %}
{% block controller %}
	ng-controller="FunctionController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
	<div class="function_settings">
		<h3 class="function_heading"> Function Settings </h3>
			<div class="function_row">
				<div class="function_text">
					<label>Select Type</label>
				</div>
				<div class="function_input">
					<select name="function_type" ng-selected="value == select_type"  ng-model="select_type" ng-change="change_type(select_type)">
				   	<option value="1" selected="selected">General</option>
				    <option value="2">Continuity</option>
				    <option value="3">Consistency</option>
					</select>
				</div>
			</div>
			<div class="function_row">
				<div class="function_text">
					<label>Select Category</label>
				</div>
				<div class="function_input">
					<select name="select_category" ng-model="select_category" >
						 <option value="" disabled="True">Select</option>
						 <option ng-repeat="entry in category_set" ng-selected="entry.id == select_category" value="[[entry.id]]">[[entry.category]]</option>
				   	</select>
				</div>
			</div>
		<div class="function_set" ng-show="show_general">
			<h3 class="sub_heading"> General </h3>
				<input type="hidden" ng-model="new_general.id" />
				<label> Function Name: </label>
				<input type="text" name="function_name" ng-model="new_general.function_name" />
				<label> Function Description: </label>
				<input type="text" name="function_description" ng-model="new_general.function_description" />
				<label> Analytical Head: </label>
				<select name="general_select_head" ng-model="new_general.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_general.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<div class="clear"></div>

				<div class="formula">
					<h4> Construct Formula </h4>
					<div class="formula_row">
						<label> Select Operands: </label>
						<select ng-model="operand">
							<option ng-repeat="operand in operands" value="[[operand.id]]" ng-click="select_operand(operand)">[[operand.name]]</option>
						</select>
						<input type="button" value="+" ng-click="add_operand()" />

						<label> Select Operators: </label>
						<select ng-model="operator">
							<option ng-repeat="operator in operators" value="[[operator.id]]" ng-click="select_operator(operator)">[[operator.symbol]]</option>
						</select> <input type="button" value="+" ng-click="add_operator()" />
						<label> Add Digits: </label>
						<input type="text" ng-model="digits" />
						<input type="button" value="+" ng-click="add_digits()" />
					</div>
					
					<label> Formula: </label>
					<input type="text" name="function_formula" ng-model="formula" readOnly ng-change="check_formula()" />
					<input type="button" value="Clear" ng-click="clear()" />
					<div class="clear"></div>
					<p class="error_msg"> [[error_msg]] </p>

				</div>
				
				<p class="error_msg"> [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_general()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_general()"/>
		</div>		
		<div class="function_set" ng-show="show_continuity">
			<h3 class="sub_heading"> Continuity </h3>
				<input type="hidden" ng-model="new_continuity.id" />
				<label> Function Name: </label>
				<input type="text" name="field_name" ng-model="new_continuity.function_name" />
				<label> Function Description: </label>
				<input type="text" name="field_description" ng-model="new_continuity.function_description" />
				<label> No of Periods: </label>
				<input type="text" name="field_description" ng-model="new_continuity.no_of_periods" />
				<label> Minimum Value: </label>
				<input type="text" name="field_description" ng-model="new_continuity.minimum_value" />
				<label> Period 1: </label>
				<input type="text" name="field_description" ng-model="new_continuity.period_1" />
				<label> Period 2: </label>
				<input type="text" name="field_description" ng-model="new_continuity.period_2" />
				<label> Period 3: </label>
				<input type="text" name="field_description" ng-model="new_continuity.period_3" />
				<label> Analytical Head: </label>
		        <select name="continuity_select_head" ng-model="new_continuity.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_continuity.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<p class="error_msg"> [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_continuity()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_continuity()"/>
		</div>
		<div class="function_set" ng-show="show_consistency">
			<h3 class="sub_heading"> Consistency </h3>
				<input type="hidden" ng-model="new_consistency.id" />
				<label> Function Name: </label>
				<input type="text" name="function_name" ng-model="new_consistency.function_name" />
				<label> Function Description: </label>
				<input type="text" name="function_description" ng-model="new_consistency.function_description" />
				<label> No of Periods: </label>
				<input type="text" name="no_of_periods" ng-model="new_consistency.no_of_periods" />
				<label> Mean: </label>
				<input type="text" name="mean" ng-model="new_consistency.mean" />
				<label> Period 1: </label>
				<input type="text" name="period_1" ng-model="new_consistency.period_1" />
				<label> Period 2: </label>
				<input type="text" name="period_2" ng-model="new_consistency.period_2" />
				<label> Analytical Head: </label>
				<select name="consistency_select_head" ng-model="new_consistency.select_head">
						 <option value="" disabled="True">Select</option>
						 <option value="[[ entry.id ]]" ng-selected="entry.id == new_consistency.select_head" ng-repeat="entry in anly_heads">[[ entry.title ]]</option>	
				</select>
				<p class="error_msg"> [[msg]] </p>
				<input type="submit" name="submit" value="Save" ng-click="save_new_consistency()"/>
				<input type="submit" name="submit" value="Reset" ng-click="reset_consistency()"/>
		</div>
		<div class="tab_list">
		<h3 class="sub_heading"> Functions List </h3>
		<table class="table table-stripped">
			<tr> 
				<th> Function Name </th>
				<th> Objective </th>
				<th> Category</th>
				<th> Created </th>
				<th> Modified </th>
				<th> Action </th>
			</tr>
			<tr ng-repeat="function in functions">
				<td>[[ function.name ]]</td>
				<td>[[ function.head ]]</td>
				<td>[[ function.category ]]</td>
				<td>[[ function.created_date ]]</td>
				<td>[[ function.modified_date ]]</td>
				<td> <a href="" ng-click="edit_function(function)"> Modify </a> / <a href=""> Delete </a>
			</tr>
		</table>
		</div>
	</div>
{% endblock content %}

