<div class="menu_container">
	<h3 class="page_header"> Progno Stock Rating </h3>

	<ul class="menu">
		<li> 
			<a href =""> Setup </a>
			 <span class="set_up"> > </span>
		</li>
		<li> 
			<a href ="{% url 'administration' %}"> Administration </a>
			<span class="administration"> > </span> 
		</li>
		<li> 
			<a href =""> Data Upload </a>
			<span class="data_upload"> > </span> 
		</li> 
		<li> 
			<a href =""> Field Settings </a>
			<span class="field_settings"> > </span> 
		</li>
		<li> 
			<a href =""> Analytical Heads </a>
			<span class="analytical_heads"> > </span> 
		</li>
		<li> 
			<a href =""> Function settings </a>
			<span class="function_settings"> > </span> 
		</li>
		<li class="no-border"> 
			<a href =""> Scoring </a> 
			<span class="scoring"> > </span>
		</li>
	</ul>
</div>