{% load base_tags %}
<div class="menu_container">
	<h3 class="page_header"> Progno Stock Rating </h3>

	<ul class="menu">
		{% if user.is_superuser %}
			<li> 
				<a href ="{% url 'administration' %}"> Administration </a>
				<span class="administration"> > </span> 
			</li>
		{% endif %}
		<li> 
			<a href =""> Data Upload </a>
			<span class="data_upload"> > </span> 
		</li> 
		<li> 
			<a href ="{% url 'field_settings' %}"> Field Settings </a>
			<span class="field_settings"> > </span> 
		</li>
		<li> 
			<a href =""> Analytical Heads </a>
			<span class="analytical_heads"> > </span> 
		</li>
		<li> 
			<a href ="{% url 'function_settings' %}"> Function settings </a>
			<span class="function_settings"> > </span> 
		</li>
		<li class="no-border"> 
			<a href ="{% url 'models' %}"> Models </a> 
			<span class="scoring"> > </span>
		</li>
	</ul>
</div>