{% extends 'base.html' %}
{% block title %} Model Settings {% endblock title%}
{% block body_id %}models{% endblock %}
{% block controller %}
	ng-controller="ModelController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}

<div class="model_settings">
	<div class="model_menu">
		<input type="submit" name="submit" value="Create Model" ng-click="show_create_model()"/>
		<input type="submit" name="submit" value="Define Model" ng-click="show_define_model()"/>
	</div>
	<div class="model_set" ng-show="create_model">
		<h3 class="model_heading"> Create Model </h3>
		<input type="hidden" ng-model="new_model.id" />
		<label> Model Name: </label>
		<input type="text" name="model_name" ng-model="new_model.model_name" /><br>
		<label> Model Description: </label>
		<textarea rows="3" cols="25" name="model_description" ng-model="new_model.model_description" ></textarea><br>
		<label> Select Industries: </label>
		<select size="5" name="industry_list" ng-model="new_model.industry_list" multiple>
		    <option ng-repeat="entry in industry_list" ng-selected="entry.selected"  value="[[entry.id]]">[[entry.name]]</option>
		</select>
		<input type="button" ng-click="moveRight()" value="+">
		<input type="button" ng-click="moveLeft()" value="-">
		<select size="5" name="industry_select" ng-model="new_model.industry_select" multiple>
		    <option ng-repeat="entry in rightSelect" ng-selected="entry.selected"  value="[[entry.id]]" >[[entry.name]]</option>
		</select>
		<div class="model_select">
			<input type="button" ng-click="selectallLeft()" value="Select All">
			<input type="button" ng-click="selectallRight()" value="Select All">
		</div>
		<label> Select Analytic Heads: </label>
			<div class="model_set checkbox_head">
				<div ng-repeat="analyt_head in anly_heads">
					<input id="{{analyt_head.id}}" type="checkbox" ng-model="analyt_head.selected" value="{{analyt_head.id}}" ng-checked="selection.indexOf(analyt_head.title) > -1" />
					<p class="check" for="{{analyt_head.title}}">[[ analyt_head.title ]]</p>
				</div>
			</div>

		<p class="error_msg"> [[msg]] </p>
		<div class="model_row">
			<input type="submit" name="submit" value="Reset" ng-click="reset_model()"/>
			<input type="submit" name="submit" value="Save" ng-click="save_model()"/>
		</div>
	</div>
	<div class="model_set" ng-show="define_model">
		<h3 class="model_heading"> Define Model </h3>
		<label> Select Model: </label>
		<select class="one" name="selected_model" ng-model="selected_model" ng-change="get_model_details(selected_model)" >
			 <option value="" disabled="True">Select</option>
			 <option ng-repeat="model in model_list" value="[[model.id]]">[[model.name]]</option>
		</select>
		<input type="submit" value="Calculate Star Rating" class="calculate_star_rating" ng-click="calculate_star_rating()" />
		<div class="tab_def_model">
			<h3 class="sub_heading"> Scoring </h3>
			<table class="table table-stripped">
				<tr>
					<th class="six">Analytic Head</th>
					<th class="three">Function/ Comments</th>
					<th class="four" colspan="3">Strong</th>
					<th class="four" colspan="3">Neutral</th>
					<th class="four" colspan="3">Weak</th>
					<th class="four no_border" colspan="4"></th></tr>
				</tr>
				
				<tr>
					<td class="six"></td>
					<td class="three"></td>
					<td class="five">Min</td><td class="five">Max</td><td class="five">Points</td>
					<td class="five">Min</td><td class="five">Max</td><td class="five">Points</td>
					<td class="five">Min</td><td class="five">Max</td><td class="five">Points</td>
					<td class="five no_border"></td>
					<td class="five no_border"></td>
					<td class="five no_border"></td>
					<td class="five no_border"></td>
				</tr>
				<tr ng-repeat="analyt_head in analytical_heads">
					<td class="six">[[ analyt_head.analytical_head_name ]]</td>
					<td colspan="14">
						<table class="table table-stripped">
							<tbody ng-repeat="function in analyt_head.function_set">
								<tr>
									<td class="three no_border_left">
										<p ng-hide="!function.function_name">[[ function.function_name ]]</p>
										<select ng-show="function.function_name == ' '" ng-model="select_function">
											<option value="" disabled="True">Select</option>
											<option value="[[ function.id ]]" ng-repeat="function in analyt_head.empty_functions">[[ function.name ]]</option>	
										</select>
									</td>
									<td class="five">
										<input type="text" ng-model="function.parameter_set.strong_min" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.strong_min]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="function.parameter_set.strong_max" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.strong_max]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="function.parameter_set.strong_points" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.strong_points]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.neutral_min" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.neutral_min]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.neutral_max" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.neutral_max]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.neutral_points" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.neutral_points]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.weak_min" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.weak_min]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.weak_max" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.weak_max]]</span>
									</td>
									<td class="five">
										<input type="text" ng-model="
										function.parameter_set.weak_points" ng-show="function.editorEnabled">
										<span ng-hide="function.editorEnabled">[[ function.parameter_set.weak_points]]</span>
									</td>	
									<input type="hidden" ng-model="function.parameter_set.id" />
									<td class="five no_border"></td>
									<td class="five no_border"><input type="button" value="Edit" ng-click="edit_function(function)"></td>
									<td class="five no_border"><input type="button" value="Del" ng-click="delete_parameters(selected_model,function.parameter_set)"></td>
									<td class="five no_border"><input type="button" value="Save" ng-click="save_parameters(selected_model,select_function,function.parameter_set)"></td>
								</tr>
								<tr>
									<td class="six">Comments </td>
									<td class="five" colspan="3"><textarea place-holder="Comment" class="comment_textarea" ng-model="
										function.parameter_set.strong_comment" ng-show="function.editorEnabled"></textarea><span ng-hide="function.editorEnabled">[[ function.parameter_set.strong_comment]]</span> </td>
									<td class="five" colspan="3"><textarea place-holder="Comment" class="comment_textarea" ng-model="
										function.parameter_set.weak_comment" ng-show="function.editorEnabled"></textarea><span ng-hide="function.editorEnabled">[[ function.parameter_set.weak_comment]]</span> </td>
									<td class="five" colspan="3"><textarea place-holder="Comment" class="comment_textarea" ng-model="
										function.parameter_set.neutral_comment" ng-show="function.editorEnabled"></textarea><span ng-hide="function.editorEnabled">[[ function.parameter_set.neutral_comment]]</span> </td>
								<tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<p class="error_msg"> [[msg]] </p>
		<div class="tab_def_model">
			<h3 class="sub_heading"> Start Rating </h3>
			<table class="table table-stripped">
				<tr>
					<th class="six">Start Count</th>
					<th class="three">Min Score</th>
					<th class="four">Max Score</th>
					<th class="four">Comment</th>
					<th class="four no_border" colspan="3">&nbsp;</th></tr>
				</tr>				
				<tr ng-repeat="rating in star_ratings">									
					<td class="five">
						<input type="text" ng-model="rating.star_count" ng-show="rating.editorEnabled">
						<span ng-hide="rating.editorEnabled">[[ rating.star_count]]</span>
					</td>
					<td class="five">
						<input type="text" ng-model="rating.min_score" ng-show="rating.editorEnabled">
						<span ng-hide="rating.editorEnabled">[[ rating.min_score]]</span>
					</td>
					<td class="five">
						<input type="text" ng-model="rating.max_score" ng-show="rating.editorEnabled">
						<span ng-hide="rating.editorEnabled">[[ rating.max_score]]
					</span></td>
					<td class="five">
						<input type="text" ng-model="rating.comment" ng-show="rating.editorEnabled">
						<span ng-hide="rating.editorEnabled">[[ rating.comment]]</span>
					</td>					
					<td class="five no_border">
						<input type="hidden" ng-model="rating.parameter_set.id" />
						<input type="button" value="Edit" ng-click="edit_rating(rating)">
					</td>
					<td class="five no_border">
						<input type="button" value="Del" ng-click="delete_rating(selected_model, rating)">
					</td>
					<td class="five no_border">
						<input type="button" value="Save" ng-click="save_rating(rating)">
					</td>
				</tr>
			</table>
		<p class="error_msg"> [[rating_msg]] </p>
		</div>
	</div>
	<div class="tab_list" ng-show="create_model">
		<h3 class="sub_heading"> Model List </h3>
		<table class="table table-stripped">
			<tr> 
				<th> # </th>
				<th> Model Name </th>
				<th> Model Description </th>
				<th> Industries </th>
				<th> Created </th>
				<th> Modified </th>
				<th> Action </th>
			</tr>
			<tr ng-repeat="model in model_list">
				<td> [[($index)+((current_page-1)*page_interval)+1]] </td>
				<td>[[ model.name ]]</td>
				<td>[[ model.description ]]</td>
				<td><div class="model_industry" ng-repeat="item in model.industry">[[ item.name ]]</div></td>
				<td>[[ model.created_date ]]</td>
				<td>[[ model.modified_date ]]</td>
				<td> <a href="" ng-click="edit_field(model)"> Modify </a> / <a href="" ng-click="delete_model(model)"> Delete </a>
			</tr>
		</table>
	</div>
	<div  ng-show="create_model">
	{% include 'pagination.html' %}
	</div>
</div>


{% endblock content %}