{% extends 'base.html' %}
{% block title %} Rating Report {% endblock title%}
{% block body_id %}rating_report{% endblock %}
{% block controller %}
	ng-controller="RatingReportController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content%}
	<div class="report_content">
		<div class="search_div">
			<p class="search_box">
				<span class="search_text">[[search_text]]</span>
				<input type="text" name='companies'  ng-model="search_key" ng-change="search_companies()" /> 
			</p>
			<input type="button" name="search" value="Search" ng-click="search_rating()"/>
			<ul id="suggestions">
				<li ng-repeat="company in companies" ng-click="hide_suggestions(company)"> [[company.name]] - [[company.isin_code]] </li>
			</ul>
		</div>
		<div class="rating_container">
			<table class="table">
				<tr>
					<th> Company Name </th>
					<th> Star Rating </th>
					<th> Score </th>
					<th> Brief Comment </th>
					<th> Detailed Comment </th>
					<th> &nbsp; </th>
				</tr>
				<tr ng-repeat="rating in star_ratings">
					<td>[[rating.company_name]]</td>
					<td>[[rating.star_rating]]</td>
					<td>[[rating.score]]</td>
					<td>[[rating.brief_comment]]</td>
					<td>
						<ul id="long_comment_[[$index]]" style="display: none; float: left;">
							<li ng-repeat="comment in rating.detailed_comment track by $index">[[comment]]</li>
							<li> jhfkjh </li>
							<li> jhfkjh </li>
							<li> jhfkjh </li>
							<li> jhfkjh </li>
							<li> jhfkjh </li>
						</ul>
						<input type="button" value="+" ng-click="expand_long_comment($index)" id="expand_button_[[$index]]" style="display: block; float: right;"/>
						<input type="button" value="-" ng-click="shrink_long_comment($index)" id="shrink_button_[[$index]]" style="display: none; float: right;" />
					</td>
					<td> <input type="button" value="X" ng-click="remove_search_result($index)" /> </td>
				</tr>
			</table>
		</div>
	</div>
{% endblock content%}
