<div class="container page_content content_footer">
	<div class="row">
		<div class="col-md-6 left">
			<div class="col-md-12">
				<p class="instruction">
					*Price change is fromthe date the stock is added to the watch list
				</p>
			</div>
			<div class="col-md-12">
				<p class="instruction">
					<a href="http://www.prognoFP.com">
						Would you like to restructure your portfolio? Then talk to a Progno Advisor. To know more about Progno visit www.prognoFP.com
					</a>
				</p>
			</div>
		</div>
		<div class="col-md-6 right">
			<img src="/static/images/divider-img.png" />
			<a href="" class="pdf_download"></a>
			<p class="">
				Read about stocklab rating methodology 
			</p>
		</div>
	</div>
</div>