{% extends 'public_base.html' %}
{% block title %} Forgot Password {% endblock title%}
{% block body_id %}forgot_password{% endblock %}
{% block controller %} 
	ng-controller="ForgotPasswordController" ng-init="init('{{csrf_token}}')"
{% endblock %}
{% block content %}
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<form>
					<h3> Forgot your Password? </h3>
					<div class="control">
						<input type="text" name="email" ng-model="email" placeholder="Email"/>
					</div>
					
					<div class="col-md-9 col-sm-9">
						<p class="error_message"> [[msg]] </p>
						<input type="submit" value="Send" ng-click="send_email()" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}