<div class="container page_content content_footer">
		<div class="row">
			<div class="col-md-6 star_list">
				<div class="col-md-6">
					<p> All Lists </p>
					<a href="/star_rating/?star_count=5" class="five_star" ng-click="get_company_star_rating(5)">5 Stars</a>
					<a href="/star_rating/?star_count=4" class="four_star">4 Stars</a>
					<a href="/star_rating/?star_count=3" class="three_star">3 Stars</a>
					<a href="/star_rating/?star_count=2" class="two_star">2 Stars</a>
					<a href="/star_rating/?star_count=1" class="one_star">1 Star</a>
				</div>
			</div>
			<div class="col-md-6 right">
				<img src="/static/images/divider-img.png" />
				<a href="" class="pdf_download"></a>
				<p class="instruction">
					Read about stocklab rating methodology 
				</p>
				<p class="instruction2"> If you register you will be able to see detailed report of a stock, create your watchlist of stocks, and compare stocks. <a href="{% url 'public_login' %}"> Click to register </a>
			</div>
		</div>
	</div>