{% extends 'public_base.html' %}

{% block content %}
	<div class="container home_first_row">
		<div class="row">
			<div class="col-xs-3">
				<img src="/static/images/header-img.jpg" />
			</div>
			<div class="col-xs-9">
				<p class="home_content_text" align="justify">
					While umpteen websites provide you with published financial data of companies, here we provide you analysed information based on a unique rating methodology.  Our objective is to help you have a quick glance of the fundamental strength of a stock which you might be holding or wish to check out. 
				</p>
			</div>
		</div>
	</div>
	<div class="container home_second_row">
		<div class="row">
			<div class="col-xs-4 star_list">
			</div>
			<div class="col-xs-7 right">
				<img src="/static/images/divider-img.png" />
				<a href="" class="pdf_download"></a>
				<p class="">
					
					Read about stocklab rating methodology 
				</p>
			</div>
		</div>
	</div>
{% endblock content%}