{% extends 'public_base.html' %}

{% block content %}
	<div class="container page_content home_first_row">
		<div class="row">
			<div class="col-md-12 home_white_bg">
				<div class="col-md-3 ">
					<img src="/static/images/header-img.jpg" />
				</div>
				<div class="col-md-9">
					<p class="home_content_text" align="justify">
						While umpteen websites provide you with published financial data of companies, here we provide you analysed information based on a unique rating methodology.  Our objective is to help you have a quick glance of the fundamental strength of a stock which you might be holding or wish to check out. 
					</p>
				</div>
			</div>
		</div>
	</div>
	{% include 'home_content_footer.html' %}
{% endblock content%}