{% extends 'public_base.html' %}
{% block extrahead %}
    <script type="text/javascript">
     window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '1497614653848580',                        // App ID from the app dashboard
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });
	    FB.api(
		    "/me/og.likes",
		    function (response) {
		      if (response && !response.error) {
		        console.log(response);
		      }
		    }
		);
	    FB.api(
		    "/me/og.likes",
		    "POST",
		    {
		        "object": "http:\/\/prognoctok.technomicssolutions.com\/"
		    },
		    function (response) {
		      if (response && !response.error) {
		        console.log(response);
		      }
		    }
		);
	    // Additional initialization code such as adding Event Listeners goes here
	  };
	</script>
	
{% endblock %}
{% block content %}
	<div class="container page_content home_first_row">
		<div class="row">
			<div class="col-md-12 home_white_bg">			
				<p class="big_font">
					Find the star rating of your favourite <b> STOCKS </b>
				</p>
				<p class="medium_font"> 
					<img src="/static/images/icon-mask.jpg" />
					Compare Stocks on how they vary against different rating parameters
				</p>
				<p class="medium_font"> 
					<img src="/static/images/icon-graph.jpg" />
					Create Watch list to view the price movement of your favourite stocks
				</p>
				<p class="small_font"> * The stocks are rated using an analytical model developed by Progno Financial Planning's research team </p>
			</div>
		</div>
	</div>
	{% include 'home_content_footer.html' %}
{% endblock content%}