<!DOCTYPE HTML>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" ng-app="stock">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title%} | Stocklab </title>
    <!-- Calendar bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <!-- Calendar css -->    
    <link rel="shortcut icon" href="/static/images/f_icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/public_style.css" />

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--  Angularjs -->
    <script src="/static/js/angular_app/lib/angular/angular.min.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-route.js"></script>
    <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
    <script src="/static/js/angular_app/lib/ngDraggable.js"></script>
    <script src="/static/js/angular_app/app.js"></script>
    <script src="/static/js/angular_app/services.js"></script>
    <script src="/static/js/angular_app/directives.js"></script>
    <script src="/static/js/angular_app/controllers.js"></script>
    <script src="/static/js/angular_app/public_controllers.js"></script>
    <script src="/static/js/angular_app/ng-infinite-scroll.min.js"></script>   


    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        if (window.location.hash == '#_=_') {
            window.location.hash = '';
        }
    </script>


    {% block extrahead %}
    {% endblock extrahead %}
    
    </head>
    <body id="{% block body_id %}base{% endblock %}" {% block controller %}{% endblock controller %}>
        {% block body %}
            <div id="stock_search_overlay"></div>
            <div id="overlay"></div>
            <div class="spinner"></div> 
            <div class="main_container">
                {% block header %}
                    {% include 'public_header.html' %}
                {% endblock header %}
                
                {% block content %}

                {% endblock content %}
                <div class="clear"></div>
                
                <div class="clear"></div>
                {% block footer %}
                    {% include 'public_footer.html' %}
                {% endblock footer %}
                <div class="clear"></div>
            </div>
        {% endblock body%}
    </body>
</html>