{% extends 'public_base.html' %}
{% block title %} Reset Password {% endblock title%}
{% block body_id %}reset_password{% endblock %}
{% block controller %} 
	ng-controller="ResetPasswordController" ng-init="init('{{ csrf_token }}', '{{token_id}}')"
{% endblock %}
{% block content %}
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">	<h3> Reset Password </h3>
				<form>
					<div class="control">
						<input type="password" name="new_password" ng-model="new_password" placeholder="New Password" />
					</div>
					<div class="control">
						<input type="password" name="confirm_password" ng-model="confirm_password" placeholder="Confirm Password" />
					</div>
					<div class="control">
						<p class="error_message"> [[error_message]] </p>
						<input type="submit" value="Enter Site" ng-click="save_new_password()" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content%}