{% extends 'public_base.html' %}
{% block controller %}ng-controller="StarRatingReportController" ng-init="init('{{csrf_token}}', '{{isin_code}}')" {% endblock controller %}
{% block content %}
	<div class="container home_first_row">
		<div class="row">
			<div>
				<ul>
					<li>You have [[watch_list_count]] stock in Watch List</li>
					<li>You have added [[compare_list_count]] stocks to compare. Click to View Compare</li>
				</ul>
				<p class="error_message">[[error_message]]</p>
				<table class="table table-striped">
					<tr>
						<th>Company Name</th>
						<th>Industry</th>
						<th>Star Rating</th>
						<th>Score</th>
						<th>Brief Comment </th>
						<th></th>
					</tr>
					<tr ng-repeat="star_rating in star_ratings" ng-show="star_ratings.length > 0">
						<td>[[star_rating.company_name]]</td>
						<td>[[star_rating.industry]]</td>
						<td>[[star_rating.star_rating]]</td>
						<td>[[star_rating.score]]</td>
						<td>[[star_rating.brief_comment]]</td>
						<td>
							<a href="" ng-show="star_rating.company_in_watch_list == 'false'" ng-click="add_to_watch_list(star_rating)">Add to Watch List</a> <br/>
							<a href="" ng-show="star_rating.company_in_compare_list == 'false' " ng-click="add_to_compare_list(star_rating)">Add to Compare</a><br/>
							<a href="" ng-show="star_rating.company_in_watch_list == 'true'">Added to Watch List</a> <br/>
							<a href="" ng-show="star_rating.company_in_compare_list == 'true' ">Added to Compare</a><br/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" ng-repeat="analytical_head in analytical_heads">
				<div class="col-md-12">
					<h3>[[analytical_head.analytical_head_name]]</h3>
					<div ng-repeat="function in analytical_head.functions" class="col-md-12">
						<span>[[function.function_name]]</span>
						<p>[[function.comments]]</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12">
					<h4>Company Financials & Price Data</h4>
					<p>give links to respective pages in BSE website</p>
					<h4>Latest Corporate Announcement</h4>
					<p>list here the respective links in BSE website</p>
				</div>
			</div>

		</div>
	</div>
	<div class="container home_second_row">
		<div class="row">
			<div class="col-md-6 left">
				<div class="col-md-12">
					<p>
						*Price change is fromthe date the stock is added to the watch list
					</p>
				</div>
				<div class="col-md-12">
					<p>
						Would you like to restructure your portfolio? Then talk to a Progno Advisor. To know more about Progno visit www.prognoFP.com
					</p>
				</div>
			</div>
			<div class="col-md-6 right">
				<img src="/static/images/divider-img.png" />
				<a href="" class="pdf_download"></a>
				<p class="">
					Read about stocklab rating methodology 
				</p>
			</div>
		</div>
	</div>
{% endblock %}