{% extends 'public_base.html' %}
{% block body_id %}star_rating{% endblock %}
{% block controller %}ng-controller="StarRatingController" ng-init="init('{{csrf_token}}', '{{star_count}}')" {% endblock controller %}
{% block content %}
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<h3>The [[count]] Star Performers</h3>
				<ul class="header_ul">
					<li>You can add maximum 20 stocks in Watch List</li>
					<li>You have [[watch_list_count]] stock in Watch List</li>
					<li>You have added [[compare_list_count]] stocks to compare. Click to View Compare</li>
				</ul>
				<p class="error_msg" ng-show="error">No Companies with [[count]] star rating</p>
				<div class="col-md-6" ng-show="error">
					<div class="col-md-6 star_list">
						<p>&nbsp;</p><br /><br />
						<p> List All </p>
						<a href="/star_rating/?star_count=5" class="five_star" ng-hide="count==5" ng-click="get_company_star_rating(5)">5 Stars</a>
						<a href="/star_rating/?star_count=4" class="four_star" ng-hide="count==4">4 Stars</a>
						<a href="/star_rating/?star_count=3" class="three_star" ng-hide="count==3">3 Stars</a>
						<a href="/star_rating/?star_count=2" class="two_star" ng-hide="count==2">2 Stars</a>
						<a href="/star_rating/?star_count=1" class="one_star" ng-hide="count==1">1 Star</a>
					</div>
				</div>
				<p class="error_msg">[[error_message]]</p>				
			</div>
		</div>
	</div>
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped list_table" ng-show="star_ratings.length > 0" infinite-scroll="get_company_star_rating_by_scroll()">
					<tr>
						<th>Company Name <a href="#" ng-click="sort_rating_list('company_name')" class="sort_list"></a></th>
						<th>Industry <a href="#" ng-click="sort_rating_list('industry')" class="sort_list"></a></th>
						<th>Star Rating <a href="#" ng-click="sort_rating_list('star_rating')" class="sort_list"></a></th>
						<th style="width: 110px;">Score <a href="#" ng-click="sort_rating_list('score')" class="sort_list"></a></th>
						<!-- <th>Price NSE</th> -->
						<th>Price BSE</th>
						<th>Rating Changed on </th>
						<th>&nbsp;</th>
					</tr>
					<tbody ng-repeat="star_rating in star_ratings" >
						<tr>
							<td>[[star_rating.company_name]]</td>
							<td>[[star_rating.industry]]</td>
							<td class="star_holder">
								<img ng-repeat="star in range(star_rating.star_count) track by $index" src="/static/images/star.png" />
							</td>
							<td>[[star_rating.score]]</td>
							<!-- <td>[[star_rating.pricing.nse_price]]</td> -->
							<td>[[star_rating.pricing.bse_price]] <br /> <span>[[star_rating.pricing.watch_list_bse_change]]</span></td>
							<td>
								[[star_rating.rating_changed_date]]
								<span ng-show="star_rating.change>0"> 
									up by <img ng-repeat="star in range(star_rating.change) track by $index" src="/static/images/star.png" />
								</span>
								<span ng-show="star_rating.change<0"> 
									down by <img ng-repeat="star in range(star_rating.change) track by $index" src="/static/images/star.png" />
								</span>
							</td>					
							<td class="">
								<a href="" ng-click="view_rating_report(star_rating)" class="aqua_button">View Report</a> 
								<a href="" ng-show="star_rating.company_in_compare_list == 'false' " ng-click="add_to_compare_list(star_rating)" class="aqua_button with_margin">Add to Compare</a>
								<a href="" ng-show="star_rating.company_in_watch_list == 'false'" ng-click="add_to_watch_list(star_rating)" class="aqua_button with_margin">Add to Watch List</a>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td colspan="8">
								{% include 'pagination.html' %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% include 'content_footer.html' %}
{% endblock %}