{% extends 'public_base.html' %}
{% block body_id %}star_rating_report{% endblock %}
{% block controller %}ng-controller="StarRatingReportController" ng-init="init('{{csrf_token}}', '{{isin_code}}')" {% endblock controller %}
{% block content %}
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<ul class="header_ul">
					<li>You have [[watch_list_count]] stock in Watch List</li>
					<li>You have added [[compare_list_count]] stocks to compare. Click to View Compare</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container page_content white_bg">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped list_table">
					<tr>
						<th>Company Name</th>
						<th>Industry</th>
						<th>Star Rating</th>
						<th>Score</th>
						<th>Brief Comment </th>
						<th></th>
					</tr>
					<tr ng-repeat="star_rating in star_ratings" ng-show="star_ratings.length > 0">
						<td>[[star_rating.company_name]]</td>
						<td>[[star_rating.industry]]</td>
						<td class="star_holder">
							<img ng-repeat="star in range(star_rating.star_count) track by $index" src="/static/images/star.png" />
						</td>
						<td>[[star_rating.score]]</td>
						<td>[[star_rating.brief_comment]]</td>
						<td>
							<a href="" ng-show="star_rating.company_in_watch_list == 'false'" ng-click="add_to_watch_list(star_rating)" class="aqua_button">Add to Watch List</a>
							<a href="" ng-show="star_rating.company_in_compare_list == 'false' " ng-click="add_to_compare_list(star_rating)" class="aqua_button with_margin">Add to Compare</a>
							<a href="" ng-show="star_rating.company_in_watch_list == 'true'" class="green_button with_margin">Added to Watch List</a> 
							<a href="" ng-show="star_rating.company_in_compare_list == 'true' " class="green_button with_margin">Added to Compare</a>
						</td>
					</tr>
				</table>
				<p class="error_message">[[error_message]]</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"> <!-- this is a place holder For alignment of below div -->
			</div>
			<div class="col-md-4 price_value">
				<p> [[star_ratings.0.pricing.date]] </p>
				<p class="aqua_bold"> NSE </p>
				<p class="green_bold"> Rs [[star_ratings.0.pricing.nse_price]] <span class="price_change">([[star_ratings.0.pricing.nse_change]])</span></p>
			</div>
			<div class="col-md-4 price_value">
				<p> [[star_ratings.0.pricing.date]] </p>
				<p class="aqua_bold"> BSE </p>
				<p class="green_bold"> Rs [[star_ratings.0.pricing.bse_price]] <span class="price_change">([[star_ratings.0.pricing.bse_change]])</span></p>
			</div>
		</div>			
	</div>
	<div class="container page_content no-padding">
		<div class="row row_[[$index]]" ng-repeat="list in analytical_heads_list">
			<div class="col-md-4 " ng-repeat="analytical_head in list">
				<div class="col-md-12 white_bg analytical_head_container">
					<div class="analytical_header">
						<h3 class="analytical_head [[analytical_head.analytical_head_name]]">[[analytical_head.analytical_head_name]]</h3>
						<hr />
					</div>
					<div ng-repeat="function in analytical_head.functions" class="col-md-12 with_margin">
						<span class="blue_text">[[function.function_name]]</span>
						<p>[[function.comments]]</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 " ng-show="$index+1 == analytical_heads_list.length">
				<div class="col-md-12 white_bg analytical_head_container">
					<div class="col-md-12">
						<h4 class="blue_text">Company Financials & Price Data</h4>
						<p><a href="http://www.bseindia.com/stock-share-price/{{company.company_name|slugify}}/{{company.bse_scrip_id|lower}}/{{company.BSE_code}}/" target="_blank">Click here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'content_footer.html' %}
{% endblock %}