{% extends 'public_base.html' %}
{% block controller %}ng-controller="ViewWatchListController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block body_id %}watch_list{% endblock %}
{% block content %}
	<div class="container watch_list_first_row">
		<div class="row">
			<div class="col-md-12">
				<h3>{{user.first_name}}'s Watch List</h3>
				<ul class="watchlist_instructions">
					<li>You can add maximum 20 stocks in Watch List</li>
					<li>You have [[watch_list_count]] stock in Watch List</li>
					<li>You have added [[compare_list_count]] stocks to compare. Click to View Compare</li>
				</ul>
				<p class="error_message">[[error_message]]</p>				
			</div>
		</div>
	</div>
	<div class="container watch_list_first_row">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped list_table">
					<tr>
						<th>Company Name</th>
						<th>Industry</th>
						<th>Star Rating</th>
						<th>Score</th>
						<th>Added on</th>
						<th>Price BSE</th>
						<th>Price NSE</th>
						<th>Rating Changed on</th>
					</tr>
					<tr ng-repeat="star_rating in watch_lists">
						<td>[[star_rating.company_name]]</td>
						<td>[[star_rating.industry]]</td>
						<td>[[star_rating.star_rating]]</td>
						<td>[[star_rating.score]]</td>
						<td>[[star_rating.added_on]]</td>
						<td>[[star_rating.rating_changed_date]]</td>
						<td>
							<a href="/star_rating_report/?isin_code=[[star_rating.isin_code]]">View Report</a><br/>
							<a href="" ng-show="star_rating.company_in_compare_list == 'false'" ng-click="add_to_compare(star_rating)">Add to Compare</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container home_second_row">
		<div class="row">
			<div class="col-md-6 left">
				<div class="col-md-12">
					<p>
						*Price change is fromthe date the stock is added to the watch list
					</p>
				</div>
				<div class="col-md-12">
					<p>
						Would you like to restructure your portfolio? Then talk to a Progno Advisor. To know more about Progno visit www.prognoFP.com
					</p>
				</div>
			</div>
			<div class="col-md-6 right">
				<img src="/static/images/divider-img.png" />
				<a href="" class="pdf_download"></a>
				<p class="">
					Read about stocklab rating methodology 
				</p>
			</div>
		</div>
	</div>
{% endblock %}