{% extends 'public_base.html' %}
{% block controller %}ng-controller="ViewWatchListController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block body_id %}watch_list{% endblock %}
{% block content %}
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<h3>{{user.first_name}}'s Watch List</h3>
				<ul class="header_ul">
					<li>You can add maximum 20 stocks in Watch List</li>
					<li>You have [[watch_list_count]] stock in Watch List</li>
					<li>You have added [[compare_list_count]] stocks to compare. Click to View Compare</li>
				</ul>
				<p class="error_message">[[error_message]]</p>				
			</div>
		</div>
	</div>
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped list_table">
					<tr>
						<th>Company Name</th>
						<th>Industry</th>
						<th>Star Rating</th>
						<th>Score</th>
						<th>Added on</th>
						<th>Price BSE</th>
						<th>Price NSE</th>
						<th>Rating Changed on</th>
					</tr>
					<tbody ng-repeat="star_rating in watch_list">
						<tr>
							<td>[[star_rating.company_name]]</td>
							<td>[[star_rating.industry]]</td>
							<td class="star_holder">
								<img ng-repeat="star in range(star_rating.star_rating) track by $index" src="/static/images/star.png" />
							</td>
							<td>[[star_rating.score]]</td>
							<td>[[star_rating.added_on]]</td>
							<td> price NSE </td>
							<td> Price BSE </td>
							<td>
								[[star_rating.rating_changed_date]] 
								<span ng-show="star_rating.change>0"> 
									up by <img ng-repeat="star in range(star_rating.change) track by $index" src="/static/images/star.png" />
								</span>
								<span ng-show="star_rating.change<0"> 
									down by <img ng-repeat="star in range(star_rating.change) track by $index" src="/static/images/star.png" />
								</span>
							</td>	
						</tr>
						<tr>
							<td colspan="8" class="button_holder">
								<a href="" ng-click="view_report(star_rating)" class="aqua_button">View Report</a>
								<a href="" ng-show="star_rating.company_in_compare_list == 'false'" ng-click="add_to_compare(star_rating)" class="aqua_button">Add to Compare</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% include 'content_footer.html' %}
{% endblock %}