{% extends 'public_base.html' %}
{% block body_id %}compare_list{% endblock %}
{% block controller %}ng-controller="ViewCompareListController" ng-init="init('{{csrf_token}}')" {% endblock controller %}
{% block content %}

	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<ul class="header_ul">
					<li>You can add maximum 4 stocks</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container page_content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped list_table">
					<tr>
						<th>Company Name</th>
						<th>Industry</th>
						<th>Star Rating</th>
						<th>Score</th>
						<th>Added on</th>
						<th>Price BSE</th>
						<th>Price NSE</th>
						<th>Rating Changed on</th>
						<th></th>
					</tr>
					<tbody ng-repeat="star_rating in watch_lists">
						<tr>
							<td>[[star_rating.company_name]]</td>
							<td>[[star_rating.industry]]</td>
							<td>[[star_rating.star_rating]]</td>
							<td>[[star_rating.score]]</td>
							<td>[[star_rating.added_on]]</td>
							<td>NSE</td>
							<td>BSE</td>
							<td>[[star_rating.rating_changed_date]]</td>
						</tr>
						<tr>
							<td colspan="8">
								<a href="" ng-click="view_report(star_rating)">View Report</a><br/>
								<a href="" ng-show="star_rating.company_in_compare_list == 'false'" ng-click="add_to_compare(star_rating)">Add to Compare</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% include 'content_footer.html' %}
{% endblock %}